.project
.pydevproject
/.settings/
/.cache/
/.tox/
/myconfig/
/htmlcov/
/build/
/build_doc/
/build_docs/
/dist/
/zhmc_log_forwarder/_version_scm.py
/AUTHORS
/ChangeLog
/MANIFEST.in
/MANIFEST
/.pytest_cache/
/try/
/.config/
.DS_Store
.ipynb_checkpoints/
.coverage
.venv
*.done
/done/*.done
*.log
*.tmp
tmp.*
tmp_*
*,cover
cover
*.pyc
.idea
*.sw?
*~
*.egg
*.eggs
*egg-info
.vagrant
