# ------------------------------------------------------------------------------
# Pip requirements file for packages needed for installation.
#
# Note: The dependencies in this file will become the dependencies stated
# in the Pypi package metadata.


# ------------------------------------------------------------------------------
# Direct dependencies for installation.
# Must be consistent with minimum-constraints.txt.

zhmcclient>=1.16.0
# zhmcclient @ git+https://github.com/zhmcclient/python-zhmcclient.git@master

attrs>=17.4.0
PyYAML>=3.13
python-dateutil>=2.7.5
requests>=2.20.0
jsonschema>=3.0.0


# ------------------------------------------------------------------------------
# Indirect dependencies for installation that are needed for some reason.
# Must be consistent with minimum-constraints.txt.

# six is used by python-dateutil, zhmcclient
# six 1.16.0 removes the ImportWarning raised by Python 3.10
six>=1.14.0; python_version <= '3.9'
six>=1.16.0; python_version >= '3.10'
